// This one is the grand daddy. Makin' it all happen right here

// Basic Styles
// Border box to help us with RWD | http://css-tricks.com/box-sizing 
* { @include box-sizing(border-box); }
body { font-size: 1em; line-height: 1.6; }
// Fluid images and objects
img, iframe, video, embed, object { max-width: 100%; }
// A better looking default horizontal rule
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
// Remove the gap between images and the bottom of their containers: h5bp.com/i/440
img { vertical-align: middle; }
// Remove default fieldset styles.
fieldset { border: 0; margin: 0; padding: 0; }
// Allow only vertical resizing of textareas.
textarea { resize: vertical; }
abbr { cursor: help; }

#breadcrumbs{ font-size: 10px; color: $middle-grey; line-height: 18px; margin: 18px 0; }
#index #breadcrumbs { display: none; }
#breadcrumbs a.current-page{ color: $middle-grey; }
#nav li,nav li{ padding-left: 0; float: left; }
nav a, #nav a, nav a:visited, #nav a:visited { font-size: 11px; padding: 5px 10px; background-color: $dark-grey; margin-right: 1px; color: #fff; float: left; }
nav a:hover, #nav a:hover { background-color: $orange; color: #fff; }

// Put your Mobile First styles here





// #Mobile - Landscape
// ==================================================
  // Note: Design for a width of 480px
@media only screen and (min-width: 30em) {


} // Close Mobile Landscape media query




// #Tablet - Portrait
// ==================================================
  // Note: Design for a width of 768px
@media only screen and (min-width: 48em) {


} // Close Tablet media query




// # 960 Grid - Desktop
// ==================================================
  // Note: Design for a width of 960px
@media only screen and (min-width: 60em) {


} // Close Desktop media query




// Going BIG, we love the large screens - 1200px and up
// ================================================== 
  // Note: Design for a width of 1200px
@media only screen and (min-width: 75em)  {


} // Close Wide Desktop media query





// Styles for Internet Explorer
// ==================================================