<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8 ie-old" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="iso-8859-1" />
<meta name="description" content="<%= site_name %>" />
<meta name="keywords" content="<%= site_name %>" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= page_name %> | <%= site_name %> | West Virginia University</title>

<link href="/themes/shared/webstandards/html5/stylesheets/global2013-v2.css" rel="stylesheet" />
<link href="<%= theme_path %>/stylesheets/styles.css" rel="stylesheet" />

<!--[if lt IE 9]>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
<![endif]-->
<% # HTML5 Shiv is *required* for IE to recognize the new HTML5 tags. %>

<%= support_files %>
<%= google_analytics -%>